* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: oldlace;
}

.container {
  margin: 0 auto;
  max-width: 70vw;
}

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 3em;
}

.tab {
  border-top: 0.12em solid rgba(0, 0, 0, 0.1);
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked ~ .tab__content .tab__img {
  visibility: visible;
  height: 26em;
  margin: 0 0 1.5em 0;
  opacity: 1;
}

.tab__content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.tab__title {
  font-size: 1.7em;
  font-weight: 600;
  margin: 0.8em 0;
}

.tab__img {
  visibility: hidden;
  height: 0;
  width: 100%;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: opacity 0.2s 0.1s, height 0.2s ease-out, visibility 0.1s ease-out;
}

.tab__img--bg1 {
  background-image: url('../assets/img/temporary\ github\ error.jpg');
}
.tab__img--bg2 {
  background-image: url('../assets/img/git\ test.jpg');
}
.tab__img--bg3 {
  background-image: url('../assets/img/git\ commit.jpg');
}
.tab__img--bg4 {
  background-image: url('../assets/img/programmers\ everyday.jpg');
}
.tab__img--bg5 {
  background-image: url('../assets/img/dom\ and\ jquery.jpg');
}

@media (min-width: 821px) {
  .tab__content:hover .tab__img {
    visibility: visible;
    height: 26em;
    margin: 0 0 1.5em 0;
    opacity: 1;
  }
}

@media (max-width: 820px) {
  .header__title {
    font-size: 2.5em;
  }

  .tab__title {
    font-size: 1.5em;
  }

  input[type='radio']:checked ~ .tab__content .tab__img {
    height: 20em;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 90vw;
  }

  .header__title {
    font-size: 2em;
  }

  .tab__title {
    font-size: 1.1em;
  }

  input[type='radio']:checked ~ .tab__content .tab__img {
    height: 12em;
  }
}
